.title{
    font-size: 2em;
    color:white;
    font-family:'Courier New', Courier, monospace;
}
.subtitle{
    font-size:1.1em;
    color:whitesmoke
}
.maindiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}